.box1, .box2, .box3 {
	display: inline-block;
	border: 1px solid #ccc;
	width:100%;
	background-color: #FFF;
	box-shadow: 0px 0px 8px #999;
	text-align: center;
	vertical-align: bottom;
}
.box1:hover, .box2:hover, .box3:hover{
	box-shadow: 0px 0px 8px #F90;
}
.box1 img, .box2 img, .box3 img {
	width: 100%;
}

.mbox {
	width: 100%;
	display: inline-block;
	text-align:center;
}
.box {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 28.5%;
	margin: 2% 2.1%;
	min-width: 200px;
	max-width: 400px;
}
a.abox:link, a.abox:visited {
	color: #555;
	font-size: 1.1em;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
	line-height: 45px;
}

a.abox:hover, a.abox:active {
	text-decoration: none;
	color: #FC0;
}