.article_form {
	min-width: 210x;
	padding: 0 15px;
}
.normal {
	text-align:right;
}

.article_form fieldset {
	font-weight: bold;
	font-size: 1.1em;
	display: block;
	border: none;
	padding: 30px 0 0 0;
	margin-bottom: 10px;
}

.article_form.normal fieldset input {
	padding: 5px;
	display: block;
	font-weight: normal;
	border: 1px solid #CBCBCB;
	color: #888;
}

.normal input {
	font-size: 1.1em;
	padding: 5px 15px;
	display: inline-block;
}

.article_form fieldset textarea {
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
	display: block;
	min-height: 300px;
	margin-bottom: 10px;
	font-weight: normal;
	font-size: 0.95em;
	resize: vertical;
	border: 1px solid #CBCBCB;
	padding: 4px;
	color: #888;
}

.article_form fieldset label {
	font-weight: normal;
	display: block;
	padding: 8px 0 4px;
	font-size: 1em;
}
.head {
	display: inline-block;
	margin-right: 50px;
	text-align: left;
	vertical-align: top;
}
.alink:hover {
	text-decoration: underline;
	color: red;
	cursor: pointer;
}
.alink {
	color: red;
	margin: 0 10px;
	font-size: 13px;
	text-decoration: underline;

}
.inmo_img_gallery {
	float:left;
	width: 100px;
	background-color: #FFF;
	border: 1px solid #CCC;
	padding: 3px;
	margin: 0 10px 10px 0;
}
.img_container {
	display: inline-block;
	text-align: center;
	margin-bottom: 15px;
}