<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Administración</title>
		<meta name="description" content="Zero es el nombre en clave que recibe el nuevo proyecto en el que trabaja Xaesa" />
		<meta name="keywords" content="proyecto, zero, guefisa, nuevo" />
		<meta name="language" content="es-ES" />
		<meta name="version" content="0.1a" />
		<meta name="copyright" content="Proyecto Zero 2012" />
		<meta name="author" content="Guefisa" />
		<link href="templates/default/css/styles.css" rel="stylesheet" type="text/css" />
		<zero::metas />
	</head>
	<body>
		<div class="container">
			<nav class="navigator"><zero::mainmenu /></nav>
			<div class="content"><zero::content /></div>
			<footer class="footer"><p>Copyright 2012. Todos los derechos reservados</p></footer>
		</div>
	</body>
</html>